{% extends 'index2.html' %}



{% block menu %}
<ul>
    <li ><a href="/">HOME</a></li>
    <li><a href="/about/">ABOUT</a></li>
    <li class="active"><a href="/chat/">OFFTOP</a></li>
    <div class="clearfix"> </div>
</ul>
{% endblock %}

{% block content %}
  </form>
<div class="content-form">
<a href="" class="spoiler_links"><center><div class="button">Написать комментарий</div> </center></a>
 <div class="spoiler_body">
     <!--Проверка полей -->
     {% if not request.user.is_superuser %}
<script type="text/javascript">
function validate(){
   //Считаем значения из полей name и email в переменные x и y
   var x=document.forms["form"]["comment_author"].value;
   var y=document.forms["form"]["comment_text"].value;
   //Если поле name пустое выведем сообщение и предотвратим отправку формы
   if (x.length==0){
       document.getElementById("errorf").innerHTML="Errors:";
      document.getElementById("namef").innerHTML="*Заполните поля!";
      return false;
   }
   //Если поле email пустое выведем сообщение и предотвратим отправку формы
   if (y.length==0){
       document.getElementById("errorf").innerHTML="Errors:";
      document.getElementById("emailf").innerHTML="*Заполните поля!";
      return false;
   }
   //Проверим содержит ли значение введенное в поле email символы @ и .
   //at=y.indexOf("@");
   //dot=y.indexOf(".");
   //Если поле не содержит эти символы знач email введен не верно

        var pr= true
   if (x=="admin"){
           alert('ERROR!: Попытка присвоить себе чужое имя.'); return false;
   }
}
</script>
     {% endif %}




      <!-- проверка полей -->
<form name="form" action="/addcomment/" method="post" onsubmit="return validate()" >
<span style="color:red" id="errorf"></span><br/>
<span style="color:red" id="namef"></span><br/>
<span style="color:red" id="emailf"></span>
    {% csrf_token %}
    {{form}}

    <input type="submit" class="button" value="Отправить">
</form>
    </div><br>
      </div>

{% for com in comments %}
{% if com.comment_author != "admin" %}
<div class="img_id1">
<ul class="comment-list"><img src="/static/images/avatar.png" class="img-responsive" alt="">Автор: <b>{{com.comment_author}}</b><br>
<li><font size="2" color="#a9a9a9" >{{com.comment_created_date}}</font><br>
Текст сообщения:<ul class="comment-list2"> <b>{{com.comment_text}}</b></ul><br>

<a href="/addlike/{{ com.id }}/"><p>
    {% if True %}<img src="/static/images/emptylike.png" class="img_id1" alt="">
    {% else %}
    <!-- Дописать скрипт(подсвечивание лайка) -->
    {% endif %}</a>{{com.likes}}</p>
    </li></ul></div>
{% else %}

<div class="img_id1">
<ul class="admcomment-list"><img src="/static/images/avatar.png" class="img-responsive" alt="">Автор: <b>{{com.comment_author}}</b><br>
<li><font size="2" color="#a9a9a9" >{{com.comment_created_date}}</font><br>
Текст сообщения:<ul class="comment-list2"> <b>{{com.comment_text}}</b></ul><br>

<a href="/addlike/{{ com.id }}/"><p>
    {% if True %}<img src="/static/images/emptylike.png" class="img_id1" alt="">
    {% else %}
    <!-- Дописать скрипт(подсвечивание лайка) -->
    {% endif %}</a>{{com.likes}}</p>
    </li></ul></div>

{% endif %}
{% endfor %}



{% endblock %}