{% extends 'index.html' %} <!-- подключаем базовый шаблон -->
{% block title %}Blog{% endblock %}
{% block content %}
<div>
    <div class="post_inf">
        <span>Опубликовано:</span></br><span>{{ post.published_date }}</span></br>
        <a class="posc" href="c:/djangocode/pyt1/templates/article.html">3 Comments</a>
    </div>
    <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
    <a class="pic_lnk" href="article.html"><img src="static/images/post_pic1.jpg" alt="post_pic1" /></a>
    <p>{{ post.text|linebreaks }}</p>
</div>
{% endfor %}
{% endblock %}